<suite thread-count="1" verbose="1" name="Calculator Automation">

    <test name="Calculator automation">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="smoke"></include>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="TestRunner"/>
        </classes>
    </test>

</suite>